#Thu Aug 06 07:36:31 CEST 2015
#
MAX_QUEUE_CAPACITY = 20

#Configs related to Comm port
SinkCommPortName = /dev/tty.usbserial-AH00WG8Yk
SerialCom.BaudRate = 115200


#Configuration related to sdwnPacket
startByte=122
stopByte = 126


#Do not touch below configs.
#They are here for test purpose

KEY = value
INT_KEY = 10
BYTE_KEY = 100
