<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%-10t]: %m%n"/>
        </layout>
    </appender>

    <appender name="chapar_main" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="maxFileSize" value="10KB"/>
        <param name="maxBackupIndex" value="5"/>
        <!-- For Tomcat -->
        <param name="file" value="logs/chapar.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%-5p [%-10t]: %m%n"/>
        </layout>
    </appender>
    <logger name="org.springframework">
        <level value="warn"/>
    </logger>

    <logger name="main">
        <level value="debug"/>
        <appender-ref ref="chapar_main"></appender-ref>
    </logger>

    <logger name="csv">
        <level value="info"/>
        <appender-ref ref="console"></appender-ref>
    </logger>

    <logger name="event">
        <level value="warn"/>
        <appender-ref ref="chapar_main"/>
    </logger>

    <root>
        <priority value="debug"/>
        <appender-ref ref="console"/>
        <!--<appender-ref ref="chapar_main"/>-->
    </root>


</log4j:configuration>